.keypad{
 border: 2px solid black;
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 margin-top: 32px;
 padding: 2px 5px;
 background-color: black;
 border-radius: 10px;
 gap: 1px;
}
.keys{
 border-radius: 5px;
 background-color: transparent;
 color: white;
 border: 1px solid grey;
 box-shadow: 0.2rem 0.3rem 0.2rem black;
 
}
.keys:hover{
 background-color: rgb(60, 65, 60);
}
.clear{

 background-color: red;
 color: white;
}
.highlight{
 color: white;
 background-color: green;
}
.bluelight{
 color: white;
 background-color: blue;
}